.container {
	padding: 80px 120px;
}

.carousel-inner img {
	width: 100%;
	margin: auto;
}

.carousel slide {
	position: relative;
}

#mycarousel {
	position: relative;
	top: ;
}

.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #2d2d30;
	border: 0;
	font-size: 13px !important;
	letter-spacing: 4px;
	position: relative;
	top: 10px;
}

.navbar li a, .navbar .navbar-brand {
	color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
	color: #fff !important;
}

.navbar-nav li.active a {
	color: #fff !important;
	background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.open .dropdown-toggle {
	color: #fff !important;
	background-color: #555 !important;
}

.dropdown-menu {
	background-color: #000 !important;
}

.drodown-toggle {
	color: white;
}

.dropdown-menu li a {
	color: #fff !important;
}

.dropdown-menu li a:hover {
	background-color: #0000ff !important;
}

body {
	font: 400 15px/1.8 Lato, sans-serif;
}

.person {
	border: 10px solid transparent;
	margin-bottom: 25px;
	width: 70%;
	height: 30%;
}

.person:hover {
	border-color: #f1f1f1;
}

.navbar {
	font-family: Montserrat, sans-serif;
}