<header id="head" class="secondary"></header>

<!-- container -->
<div class="container" ng-controller="UserController as ctrl">

	<ol class="breadcrumb">
		<li><a href="index.html">Home</a></li>
		<li class="active">User access</li>
	</ol>

	<div class="row">

		<!-- Article main content -->
		<article class="col-xs-12 maincontent">
			<header class="page-header">
				<h1 class="page-title">Sign in</h1>
			</header>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="thin text-center">Sign in to your account</h3>
						<p class="text-center text-muted">
							Don't have an account! No worries.. You can <a href="#/register">register</a>
							 to become a part of us.
						</p>
						<div ng-show='ctrl.user.errorMessage'>
							<div class="alert alert-danger fade in">Bad Credentials:
							{{ctrl.user.errorMessage}}
							</div>
						</div>
						<hr>
						<span ng-hide="ctrl.loggedInUser">
						<form name="myForm" role="form" ng-submit="ctrl.login()">
							<div class="top-margin" ng-class="{'has-error' : myForm.username.$error.required && myForm.username.$dirty}">
								<label for="username">Username<span class="text-danger">*</span></label>
								<input type="text" id="username" name="username" ng-model="ctrl.user.user_name" class="form-control" required>
                                <span ng-show="myForm.username.$error.required && myForm.username.$dirty" class="help-block">This is a required field</span>
							</div>
							<div class="top-margin" ng-class="{'has-error' : myForm.password.$error.required && myForm.password.$dirty}">
								<label for="password">Password <span class="text-danger">*</span></label> <input
									type="password" id="password" name="password" ng-model="ctrl.user.password" required class="form-control">
								<span ng-show="myForm.password.$error.required && myForm.password.$dirty" class="help-block">This is a required field</span>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-8">
									<b><a href="">Forgot password?</a></b>
								</div>
								<div class="col-lg-4 text-right">
									<button class="btn btn-action" ng-disabled="myForm.$invalid || ctrl.dataLoading" type="submit">Sign in</button>
																</div>
							</div>
						</form>
						</span>
					</div>
				</div>
			</div>
		</article>
		<!-- /Article -->
	</div>
</div>
<!-- /container -->
