<header id="head" class="secondary"></header>

<!-- container -->
<div class="container" ng-controller="UserController as ctrl">

	<ol class="breadcrumb">
		<li><a href="index.html">Home</a></li>
		<li class="active">Registration</li>
	</ol>
	<div class="row">
		<!-- Article main content -->
		<article class="col-xs-12 maincontent">
			<header class="page-header">
				<h1 class="page-title">Registration</h1>
			</header>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="thin text-center">Register a new account</h3>
						<p class="text-center text-muted">
							Already, have an account? Please go ahead and <a href="#/login">login</a>
						</p>
						<hr>
						<form ng-submit="ctrl.submit()" name="myForm">
							<div class="top-margin">
								<label for="user_id">User Id<span class="text-danger">*</span></label> <input type="text"
									class="form-control" id="user_id" ng-model="ctrl.user.user_id" ng-minlength="3">
							</div>
							<div class="top-margin">
								<label for="user_name">User Name <span class="text-danger">*</span></label> <input type="text"
									class="form-control" id="user_name" ng-model="ctrl.user.user_name" ng-minlength="3">
							</div>
							<div class="top-margin">
								<label for="password">Password <span class="text-danger">*</span></label> <input type="password" 
									class="form-control" id="password" ng-model="ctrl.user.password" ng-minlength="3">
							</div>
							<div class="top-margin">
								<label for="email">Email Address <span class="text-danger">*</span></label>
								<input type="email" class="form-control" id="email" ng-model="ctrl.user.email" ng-minlength="3">
							</div>

							<div class="top-margin">
									<label for="user_address">Address</label> <input
										type="text" class="form-control" id="user_address" ng-model="ctrl.user.user_address" ng-minlength="3">
								</div>
							<div class="top-margin">
								<input type="radio" name="role" value="Student" ng-model="ctrl.user.role">Student
								<input type="radio" name="role" value="Alumni" ng-model="ctrl.user.role">Alumni
								<input type="radio" name="role" value="Employee" ng-model="ctrl.user.role">Employee
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-4 text-left">
									<button class="btn btn-action" type="submit">Register</button>
								</div>
								<div class="col-lg-4 text-right">
									<button class="btn btn-warning" ng-click="ctrl.reset()">Reset</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</article>
		<!-- /Article -->
	</div>
</div>
<!-- /container -->